---
import ContentSection from '../components/ContentSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
	<main>
		<ContentSection url='../../public/img/Homepage-Model-3-Desktop-LHD-v2.avif' model='Model 3'/>
		<ContentSection url='../../public/img/Homepage-Model-3-Desktop-LHD-v2.avif' model='Model 3'/>
		
	</main>
</Layout>

