---
import ContentSection from "../components/ContentSection.astro";
import HeaderSection from "../components/HeaderSection.astro";
import HeaderSectionLink from "../components/HeaderSectionLink.astro";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
  <main>
    <ContentSection
      url="../../public/img/Homepage-Model-3-Desktop-LHD-v2.avif"
      model="Model 3"
    >
      <HeaderSectionLink
        title="Model 3"
        urlHeader="#"
        contentLink="1.99% APR Financing"
        text="From $216/mo1 Lease After Est. Gas Savings"
        classH1="text-[40px] font-semibold"
        classA="underline underline-offset-8 decoration-1  text-2xl"
        classP="text-sm text-light-grey"
      />

      <LinkButton urlButton="#" text="Order Now" slot="link-button"/>
	  <LinkButton urlButton="#" text="Demo Drive" class="bg-dark-grey text-white"  slot="link-button"/>
    </ContentSection>

    <ContentSection
      url="../../public/img/Homepage-Model-Y-Desktop-Global.avif"
      model="Model Y"
    >
      <HeaderSection
        title="Model Y"
        span="From $31,4902"
        text="After Est. Savings"
        classH1="text-3xl"
      />
    </ContentSection>
  </main>
</Layout>
