---
import ContentSection from "../components/ContentSection.astro";
import HeaderSection from "../components/HeaderSection.astro";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layouts/Layout.astro";
import CybertruckTitle from "../assets/CybertruckTitle.astro";
import LinkButtonCybertruck from "../components/LinkButtonCybertruck.astro";
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
  <main>
    <!-- MODEL 3 -->
    <ContentSection
      url="../../public/Homepage-Model-3-Desktop-LHD-v2.avif"
      model="Model 3"
    >
      <HeaderSection
        title="Model 3"
        urlHeader="#"
        contentLink="1.99% APR Financing"
        underline="true"
        text="From $216/mo Lease After Est. Gas Savings"
      />

      <LinkButton urlButton="#" text="Order Now" slot="link-button" />
      <LinkButton
        urlButton="#"
        text="Demo Drive"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- MODEL Y -->
    <ContentSection
      url="../../public/Homepage-Model-Y-Desktop-Global.avif"
      model="Model Y"
    >
      <HeaderSection
        title="Model Y"
        urlHeader="#"
        contentLink="From $31,490"
        text="After Est. Savings"
        class="text-2xl"
      />
      <LinkButton
        urlButton="#"
        text="Order Now"
        class="text-zinc-950 bg-[#FFFFFF]"
        slot="link-button"
      />
      <LinkButton
        urlButton="#"
        text="Demo Drive"
        active="true"
        slot="link-button"
        class="bg-medium-grey"
      />
    </ContentSection>

    <!-- MODEL X -->
    <ContentSection
      url="../../public/Homepage-Model-X-Desktop-v2.avif"
      model="Model X"
    >
      <HeaderSection
        title="Model X"
        urlHeader="#"
        contentLink="From $63,990"
        text="After Est. Savings"
      />
      <LinkButton urlButton="#" text="Order Now" slot="link-button" />
      <LinkButton
        urlButton="#"
        text="Demo Drive"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- MODEL S -->
    <ContentSection
      url="../../public/Homepage-Model-S-Desktop-v2.avif"
      model="Model S"
    >
      <HeaderSection
        title="Model S"
        urlHeader="#"
        contentLink="From $66,490"
        text="After Est. Savings"
        ligthColor="true"
      />
      <LinkButton urlButton="#" text="Order Now" slot="link-button" />
      <LinkButton
        urlButton="#"
        text="Demo Drive"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- CYBERTRUCKK -->
    <ContentSection
      url="../../public/Homepage-Cybertruck-Desktop.avif"
      model="Cybertruck"
    >
      <HeaderSection>
        <CybertruckTitle slot="titleImage" />
      </HeaderSection>

      <LinkButtonCybertruck urlButton="#" text="ORDER NOW" slot="link-button" />
      <LinkButtonCybertruck
        urlButton="#"
        text="LEARN MORE"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- SOLAR PANELS -->
    <ContentSection
      url="../../public/Homepage-SolarPanels-01-Desktop.avif"
      model="Solar panels"
    >
      <HeaderSection
        title="Solar Panels"
        urlHeader="#"
        contentLink="Schedule a Virtual Consultation"
        ligthColor="true"
        class="text-sm font-display-regular underline-offset-[2.5px] leading-[45px] tracking-[0.51px] text-[#EEEEEE]"
        underline="true"
      />
      <LinkButton urlButton="#" text="Order Now" slot="link-button" />
      <LinkButton
        urlButton="#"
        text="Learn More"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- SOLAR ROOF -->
    <ContentSection
      url="../../public/Homepage-SolarRoof-Desktop-Global.avif"
      model="Solar roof"
    >
      <HeaderSection
        title="Solar Roof"
        urlHeader="#"
        contentLink="Produce Clean Energy From Your Roof"
        class="text-sm text-light-grey tracking-[0.0332rem] leading-[42px]"
      />
      <LinkButton urlButton="#" text="Order Now" slot="link-button" />
      <LinkButton
        urlButton="#"
        text="Learn More"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- POWERWALL -->
    <ContentSection
      url="../../public/Homepage-Powerwall-01-Desktop.avif"
      model="Powerwall"
      class="gradient-custom"
    >
      <HeaderSection
        title="Powerwall"
      />
      <LinkButton urlButton="#" text="Order Now" slot="link-button" />
      <LinkButton
        urlButton="#"
        text="Learn More"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- ACEESORIES -->
    <ContentSection
      url="../../public/Homepage-Accessories-Desktop-NA-APAC.avif"
      model="Accessories"
    >
      <HeaderSection
        title="Accessories"
      />
      <LinkButton urlButton="#" text="Shop Now" slot="link-button" class="mb-6"/>
    </ContentSection>
  </main>
</Layout>
