---
import ContentSection from "../components/ContentSection.astro";
import HeaderSection from "../components/HeaderSection.astro";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layouts/Layout.astro";
import CybertruckTitle from "../icons/CybertruckTitle.astro";
import LinkButtonCybertruck from "../components/LinkButtonCybertruck.astro";
import Paragraph from "../components/Paragraph.astro";
import LinkText from "../components/LinkText.astro";
---

<Layout title="Clone | Electric Cars, Solar & Clean Energy | Tesla">
  <main>
    <!-- MODEL 3 -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-LHD-v2.jpg"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Mobile-LHD-v2.jpg"
      model="Model 3"
    >
      <HeaderSection title="Model 3" />
      <Paragraph text="$7,500 Federal Tax Credit Available" />
      <LinkText
        contentLink="From $29,990 After Est. Savings"
        underline="true"
        urlHeader="https://www.tesla.com/model3/design?redirect=no&cfg=#overview"
        hover="true"
      />

      <LinkButton
        urlButton="https://www.tesla.com/model3/design#overview"
        text="Order Now"
        slot="link-button"
      />
      <LinkButton
        urlButton="https://www.tesla.com/drive?selectedModel=Model3"
        text="Demo Drive"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- MODEL Y -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Mobile-Global.jpg"
      model="Model Y"
    >
      <HeaderSection title="Model Y" />
      <Paragraph text="From $31,490" />
      <LinkText
        contentLink="After $13,500 Est. Savings"
        underline="true"
        urlHeader="https://www.tesla.com/modely/design?financeModalTab=finance_options&financeProduct=cash#overview"
        hover="true"
      />

      <LinkButton
        urlButton="https://www.tesla.com/modely/design#overview"
        text="Order Now"
        class="text-zinc-950 bg-[#FFFFFF]"
        slot="link-button"
      />
      <LinkButton
        urlButton="https://www.tesla.com/drive?selectedModel=modely"
        text="Demo Drive"
        active="true"
        slot="link-button"
        class="bg-medium-grey"
      />
    </ContentSection>

    <!-- MODEL X -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-v2.jpg"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Mobile-v2.jpg"
      model="Model X"
    >
      <HeaderSection title="Model X" />
      <Paragraph text="From $63,990" />
      <Paragraph text="After Est. Savings" />

      <LinkButton
        urlButton="https://www.tesla.com/modelx/design#overview"
        text="Order Now"
        slot="link-button"
      />
      <LinkButton
        urlButton="https://www.tesla.com/drive?selectedModel=modelx"
        text="Demo Drive"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- MODEL S -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-v2.jpg"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Mobile-v2.jpg"
      model="Model S"
    >
      <HeaderSection title="Model S" ligthColor="true" />
      <Paragraph text="From $66,490" ligthColor="true" />
      <Paragraph text="After Est. Savings" ligthColor="true" />

      <LinkButton
        urlButton="https://www.tesla.com/models/design#overview"
        text="Order Now"
        slot="link-button"
      />
      <LinkButton
        urlButton="https://www.tesla.com/drive?selectedModel=models"
        text="Demo Drive"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- CYBERTRUCKK -->
    <ContentSection
      url="https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg"
      urlResponsive="https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Mobile.jpg"
      model="Cybertruck"
    >
      <HeaderSection>
        <CybertruckTitle slot="titleImage" />
      </HeaderSection>

      <LinkButtonCybertruck
        urlButton="https://www.tesla.com/cybertruck/design"
        text="ORDER NOW"
        slot="link-button"
      />
      <LinkButtonCybertruck
        urlButton="https://www.tesla.com/cybertruck"
        text="LEARN MORE"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- SOLAR PANELS -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Mobile.jpg"
      model="Solar panels"
    >
      <HeaderSection title="Solar Panels" ligthColor="true" />
      <LinkText
        contentLink="Schedule a Virtual Consultation"
        underline="true"
        ligthColor="true"
        urlHeader="https://www.tesla.com/event/schedule-virtual-energy-consultations"
      />

      <LinkButton
        urlButton="https://www.tesla.com/energy/design"
        text="Order Now"
        slot="link-button"
      />
      <LinkButton
        urlButton="https://www.tesla.com/solarpanels"
        text="Learn More"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- SOLAR ROOF -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2100,w_800,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Mobile"
      model="Solar roof"
    >
      <HeaderSection title="Solar Roof" />
      <Paragraph text="Produce Clean Energy From Your Roof" />

      <LinkButton
        urlButton="https://www.tesla.com/solarroof/design"
        text="Order Now"
        slot="link-button"
      />
      <LinkButton
        urlButton="https://www.tesla.com/solarroof"
        text="Learn More"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- POWERWALL -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-01-Desktop.jpg"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-01-Mobile.jpg"
      model="Powerwall"
      class="gradient-custom"
    >
      <HeaderSection title="Powerwall" />

      <LinkButton
        urlButton="https://www.tesla.com/powerwall/design"
        text="Order Now"
        slot="link-button"
      />
      <LinkButton
        urlButton="https://www.tesla.com/powerwall"
        text="Learn More"
        active="true"
        slot="link-button"
      />
    </ContentSection>

    <!-- ACEESORIES -->
    <ContentSection
      url="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg"
      urlResponsive="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Mobile-NA-APAC.jpg"
      model="Accessories"
    >
      <HeaderSection title="Accessories" />
      <LinkButton
        urlButton="https://shop.tesla.com/"
        text="Shop Now"
        slot="link-button"
        class="mb-6"
      />
    </ContentSection>
  </main>
</Layout>
