---
interface Props {
  url: string;
  model: string;
}
const { url, model } = Astro.props;
---

<section
  class="flex bg-white h-screen w-full text-center relative overflow-hidden"
>
  <div class="z-30 relative flex flex-col h-full w-full">
    <header class="pt-[88px]">
      <slot />
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-[110px]">
      <div class="flex flex-wrap gap-6">
        <section class="w-full">
          <slot name="link-button" />
        </section>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src={url}
      alt={model}
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
