---
interface Props {
  url: string;
  model: string;
  class?: string;
}
const { url, model } = Astro.props;
const { class: additionalClasses = "" } = Astro.props;
---

<section
  class="flex bg-white h-screen w-full text-center relative overflow-hidden"
>
  <div class=`z-30 flex flex-col h-full w-full ${additionalClasses}`>
    <header
      class="flex flex-col flex-grow justify-start pt-[7%] leading-none tracking-tight items-center"
    >
      <slot />
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-[110px]">
      <div class="flex flex-wrap justify-center">
        <section class="flex flex-row grid-rows-1 justify-center gap-6">
          <slot name="link-button" />
        </section>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src={url}
      alt={model}
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
