---
interface Props {
  title?: string;
  ligthColor?;
}
const { title, ligthColor = false } = Astro.props;
---

<h1
  class:list={[
    `small:text-[40px] text-[28px] leading-none font-display-bold tracking-normal pb-2`,
    {
      "text-white": ligthColor,
      "text-dark-grey": !ligthColor,
    },
  ]}
>
  <slot name="titleImage" />
  {title}
</h1>
