---
const { span, title, text } = Astro.props;
const { classH1: additionalClasses = "" } = Astro.props;
const { classSpan: additionalClassesSpan = "" } = Astro.props;
const { classP: additionalClassesP = "" } = Astro.props;
---

<h1 class={`text-[40px] font-semibold ${additionalClasses}`}>{title}</h1>
<span>{span}</span>
<p>{text}</p>
