---
const { urlButton, text } = Astro.props;
const { class: additionalClasses = "" } = Astro.props;
---

<a
  href={urlButton}
  class={` text-sm  w-[264px] h-[40px] rounded  font-semibold grid items-center ${additionalClasses}`}
>
  {text}
</a>
