---
interface Props {
  text?: string;
  class?: string;
  hover?;
}
const { text, hover = false } = Astro.props;
const { class: additionalClasses = "" } = Astro.props;
---

<li
  class:list={[
    `hover:bg-[#0000000d] rounded py-0.5 cursor-pointer group/item ${additionalClasses}`,
    {
      "hover:text-[#424449] hover:bg-transparent hover:underline hover:decoration-2 hover:underline-offset-3": hover,
    },
  ]}
>
  {text}
  <slot />
</li>
