---
interface Props {
  text?: string;
  class?: string;
}
const { text } = Astro.props;
const { class: additionalClasses = "" } = Astro.props;
---

<li
  class=`hover:bg-[#0000000d] rounded py-0.5 relative cursor-pointer ${additionalClasses}`
>
  <a>{text}<slot /></a>
  <slot name="menu" />
</li>
