---
interface Props {
  text?: string;
  ligthColor?;
}
const { text, ligthColor = false } = Astro.props;
---

<p
  class:list={[
    `text-2xl leading-tight font-text-medium`,
    {
      "text-light-white": ligthColor,
      "text-dark-grey": !ligthColor,
    },
  ]}
>
  {text}
</p>
