---

---

<footer
  class="bg-black bottom-0 grid justify-items-center [&>section>p]:text-[#d0d1d2] [&>section>p]:text-xs [&>section>p]:font-text-regular "
>
  <section class="flex flex-col text-center w-5/12 py-10 [&>p]:pb-[14px]">
    <p>
      Este sitio web es un clon de Tesla creado con el propósito de aprender y
      divertirse. No está afiliado ni respaldado por Tesla, Inc. en ninguna
      forma.
    </p>
    <p>
      La creación de este clon me ha permitido explorar y mejorar mis
      habilidades en desarrollo web, diseño de interfaces y programación en
      general.
    </p>
    <p>
      Todos los contenidos, imágenes y gráficos utilizados en este sitio son
      propiedad de sus respectivos dueños y se utilizan solo con fines
      educativos. Este proyecto no tiene ningún propósito comercial y no
      pretende suplantar la página oficial de Tesla.
    </p>
    <p>
      Agradezco tu visita y espero que disfrutes navegando por este proyecto
      tanto como yo disfruté creándolo. Si tienes algún comentario o sugerencia,
      no dudes en <a
        href="https://www.linkedin.com/in/adrian-gomez-catacora-b604792b8/"
        class="font-bold underline">contactarme</a
      >. Gracias por tu apoyo y comprensión.
    </p>
  </section>
  <section class="pb-7">
    <p class="font-bold">Clone Tesla, 11 Jul 2024</p>
  </section>
</footer>
