---
import AccountIcon from "../assets/AccountIcon.astro";
import SupportIcon from "../assets/SupportIcon.astro";
import Teslalogo from "../assets/Teslalogo.astro";
import WorldIcon from "../assets/WorldIcon.astro";
import ListAnchor from "../components/ListAnchor.astro";
---

<header
  class="absolute top-0 z-10 h-14 flex items-center w-full justify-between"
>
  <h1 class="flex flex-grow-0 pl-8 w-[33.33%]">
    <Teslalogo />
    <span class="hidden">Tesla</span>
  </h1>

  <nav class="w-[33.33%]">
    <ul
      class="flex flex-grow-1 justify-center font-display-bold [&>li>a]:inline-block [&>li>a]:text-sm [&>li>a]:px-4 [&>li>a]:py-1 [&>li>a]:tracking-[0.5px]"
    >
      <ListAnchor text="Vehicles" />
      <ListAnchor text="Energy" />
      <ListAnchor text="Charging" />
      <ListAnchor text="Discover" />
      <ListAnchor text="Shop" />
    </ul>
  </nav>

  <nav class="w-[33.33%] flex justify-end">
    <ul class="flex gap-1 flex-grow-2 pr-8 [&>li]:py-1 ">
      <ListAnchor>
        <SupportIcon />
      </ListAnchor>
      <ListAnchor>
        <WorldIcon />
      </ListAnchor>
      <ListAnchor>
        <AccountIcon />
      </ListAnchor>
    </ul>
  </nav>
</header>
